
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Airbnb BD';
    src: url('fonts/AirbnbCereal_W_Bd.otf');
}

* {
    margin: 0;
}    
    
.header {
    background-image: url('images/img-acceuil.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

#header-icons {
    font-size: 35px;
    padding: 40px 30px 0 30px;
    color: #fff;
}


.header-middle {
    padding-top: 150px;
    text-align: center; 
}

.logo {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    font-size: 4.5em;
    color: #fff;
    margin-bottom: 10px;
}

p {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 30px;
}

    .header-middle h1 {
        font-size: 4.5em;
        color: #fff;
        margin-bottom: 10px;
    }

    .header-middle p {
        font-size: 2em;
        color: #ffffff;
        margin-bottom: 30px;
    }

.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    margin: auto;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
    
.navbar-item label {
    font-size: 12px;
    color: #666;
    margin-bottom: 4px;
}
    
.navbar-item input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
}
    
.search-button {
    background-color: #ff385c;
    border: none;
    border-radius: 50%;
    color: white;
    width: 65px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

.search-button i {
    font-size: 16px;
}

.menu-container {
    display: flex;
    justify-content: center;
}
    
.dropdown-menus {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: white;
    width: fit-content;
    margin: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

.menu-categories {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-item a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: #666;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-item a:hover {
    background-color: #FF4545;
    color: #fff;
}

.menu-item a i {
    margin-right: 0.5rem;
}

.submenu {
    list-style-type: none;
    background-color: #e7e7e7;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0.5rem 0;
    border-radius: 8px;
    min-width: 150px;
}

.submenu li {
    padding: 0.5rem 1rem;
}

.submenu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 0.3rem 0;
}

.submenu li a:hover {
    background-color: #FF4545;
}

.menu-item:hover .submenu {
    display: block;
}


    .search-button i {
        font-size: 16px;
    }
    
    #suggest{
        margin-left: 1vw;

    }

    .main {
        background-color: #ff4545;
        height: 100vh;
        z-index: 1;
        margin-top: -5vw;
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
    }

    .main .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .main .content .prev, .main .content .next {
        font-size: 2.5vw;
    }

    .main .content .text{
        width: 50%;
    }

    .main .content .text h1{
        font-family: 'Airbnb BD';
        font-size: 4vw;
        width: 70%;
        color: white;
    }

    .main .content .text p{
        width: 60%;
        color: white;
        font-size: 1vw;
        font-family: 'Airbnb BD';
        margin-top: 2vw;
    }
    
    .carousel {
        position: relative;
        max-width: 600px;
        overflow: hidden;
        height: auto;
        border-radius: 1vw;
        width: 22vw;
    }

    .carousel button{
        background-color: rgba(0, 0, 0, 0);
    }

    .content-caroussel{
        display: flex;
        flex-direction: column;
        margin: 1vw;
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
    }
    
    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
    }
    
    .carousel img {
        width: 100%;
        height: auto;
    }
    
    .indicators {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .indicator {
        width: 12px;
        height: 12px;
        background-color: #bbb;
        border-radius: 50%;
        border: solid black 0.1vw;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .indicator.active {
        background-color: white;
    }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .prev { left: 10px; }
    .next { right: 10px; }
    
    .carousel:hover .prev,
    .carousel:hover .next {
        opacity: 1;
    }
    

    footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 60vh;
    }

    footer .head{
        margin-top: 3vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer .head div:first-child, footer .head div:nth-child(2), footer .head div:last-child{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 40vh;
        align-items: center;
    }

    footer h2 {
        text-align: center;
        font-size: 1.5vw;
        top: 0;
    }

    footer .head div:first-child a, footer .head div:nth-child(2) a, footer .head div:last-child a{
        color: white;
        text-decoration: none;
        margin-top: 1vw;
        text-align: center;
        width: 50%;
    }

    footer .head h2{
        color: white;
    }

    footer .foot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer .foot p{
        color: white;
        margin-bottom: 1vw;
        text-align: center;
    }

    footer .foot div:first-child, footer .foot div:nth-child(2){
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    footer .foot div:last-child{
        display: flex;
        column-gap: 3vw;
        width: 30%;
        justify-content: center;
    }

    footer .foot div:first-child a, footer .foot div:nth-child(2) a{
        color: white;
        text-decoration: none;
        margin-bottom: 1vw;
        text-align: center;
    }
